body{
    background-color: rgb(201, 198, 195);
    color: rgb(32, 6, 94);
}
.form-mapa,.mapa-clear,.first-index{
    margin-top: 150px;
    margin-left: 150px;
    width: 400px;
}
.mapa-clear,.first-index{
    margin-top: 15px;
}
