// @import "createCv/serviseCreateDfdx";
@import "createCv/addressCvCreate";
@import "createCv/poleInfo";
@import "createCv/nameAndButton";

    .create-cv{
        border: 2px solid white;
        // margin-left: 0;
        width: 25cm;
        padding: 0;
        height: 37cm;
        // height: 31.5cm;
        background-image: url("../images/f3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include poleInfo;

        @include addressCvCreate;

    }

// @include serviseCreateDfdx;

@include nameAndButton;


