 
@import "loadFoto/displayWebkit";

.field__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }
   
  .field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .field__file-wrapper {
    width: 100%;
    @include displayWebkit;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
   
  .field__file-fake {
    height: 60px;
    width: calc(100% - 130px);
    @include displayWebkit;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    border-right: none;
  }
   
  .field__file-button {
    width: 130px;
    height: 60px;
    background: #1bbc9b;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    @include displayWebkit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }

  
.pole-boot-col-foto-CV{
    float:right;
    margin-left: 100px; 
    font-size: 25px; 
}


.mesage-load-foto{
    color:black;
    font-size: 25px;
}
.load-foto-form{
    width: 80%;
    margin-top: 150px;
    float:left;
    color:black;
    .class-btn{
        background: #466368;
    }
    .pole-text-name-CV{
        color:black;
        height: 38px;
    }
}

$koef:1.0;
$width: 149px*$koef;
$height: 179px*$koef;
// @debug $width;
.fotoCvCreate {
  box-shadow:  #495253 5px 5px;
  width: $width;
  height: $height;
  position: relative;
  top: 5px;
  left: 15px;
  background-image: url("../images/fotoCV.jpg");
  background-repeat: no-repeat;
  border-radius: 5px;
}

