@import "loadFont";
@import "styleForSetup";
@import "svCreate";
@import "forms";
@import "fieldFile";

.create-cv{
    width: 100%;
    padding: 0;
    border: 0;
    height: 32cm;
    background-image: url("../images/f3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .pole-info{
        background: -webkit-linear-gradient(top, rgba(255, 255, 255) 50%, rgb(234, 229, 229) 100%) no-repeat, #97c49a ;
        height: 83%;
        width: 22cm;
        margin-top: 10px;
        box-shadow:  #495253 10px 10px;/*inset;*/
        border-radius: 10px;
        outline: 1px solid black;
        outline-offset: -4px;

        .summary, .experience, .education, .language, 
        .sertificates, .git, .list-skills, .summary-text, 
        .experience-text, .education_text, .git-text,
        .list-skills--container, .language_text, .sertificates_text {
            margin-top: 10px;
            font-weight: 700;
            width: 100%;
            font-size: 16px;
        }

        .summary, .experience, .education, .language, 
        .sertificates, .git, .list-skills {
            div {
                padding-left: 10px;
                font-size: 23px;
                line-height: 27px;
                border-bottom: 1px solid #090909;
            }
        }
        .summary-text, .experience-text, 
        .education_text, .git-text {
            div {
                padding: 0 25px;
                // border: 1px solid #648880;
                // border-left-width: 10px;
                border-left: 2mm ridge rgba(24, 3, 65, 0.6);
                font-weight: 400;
            }
        }
        .list-skills--container,
        .language_text, .sertificates_text {
            padding: 0 25px;
            // border: solid #648880;
            border-left: 2mm ridge rgba(24, 3, 65, 0.6);
            // border-left-width: 10px;
        }

        .skills{
            min-height: 10px;
        }
    } // конец pole-info

    // стиль заголовка - имя и фамилия
    .name p{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 55px;
        font-weight: 900;
        line-height: 50px;
        color:#fefbfb;
        text-shadow: #466368 5px 5px;
        font-family: "cd2f1";
        transform: translate(15px, -5px) rotate(-5deg);  // перемещает элемент на новое место
    }
    .name button{
        all: initial; // сбросить унаследованные стили
    }
        
    .address-cv-create p{
        margin-top: 10px;
        font-size: 16px;
        line-height: 15px;
        color:#fefbfb;
    }
    .address-cv-create p:nth-child(odd) {
        font-weight: 900;
        line-height: 5px;
    }
    div[class="col-5 address-cv-create"] {
        height: 150px;
    }
} /*конец create-cv*/
///////////////////////////////////////////////////////////////////////



body{
    background: linear-gradient(#648880, #293f50);
}

.classPrint{
    height: 27cm;
    width: 22cm;
    background: #fff;
}
.button-language, .button-language input{
    background: #466368;
    background: linear-gradient(#648880, #293f50);
    border-radius: 6px;
    color:#c2d5e2;
}
.pole-boot-col-foto-CV{
    float:right;
    margin-left: 100px; 
    font-size: 25px; 
}


.mesage-load-foto{
    color:black;
    font-size: 25px;
}
.load-foto-form{
    width: 80%;
    margin-top: 150px;
    float:left;
    color:black;
    .class-btn{
        background: #466368;
    }
    .pole-text-name-CV{
        color:black;
        height: 38px;
    }
    .pole-boot-col-name-CV{
        float:left;
    }
}
.name-form{
    float:left;
    margin-top: 150px;
    form div{
        width: 200px;
        float:left;
        input {
            margin-left: 20px;
            color:black;
            height: 38px;
        }
        input[type="submit"]{
            background: #466368;
        }
    }
    p {
        float:left;
        margin-left: 100px; 
        font-size: 25px; 
    }
}

.pattern-row-1{
    float: left;
    margin-top: 150px;
    height: auto;
    .image-pattern{
        height: 300px;
        width: 200px;
        padding: 0px;
    }
    .image-pattern-button{
        height: 300px;
        width: 200px;
        padding: 0px;
    }
    .image-pattern-button:hover{
        height: 300px;
        width: 200px;
        padding: 0px;
        position: relative;
        top:-20px;
    }
    .image-pattern-button-2{
        height: 300px;
        width: 200px;
        padding: 0px;
        position: relative;
        top:-20px;
    }
    .image-pattern:hover{
        height: 300px;
        width: 200px;
        padding: 0px;
    }
    .mesage-select-pattern{
        color:hsl(204, 62%, 67%);
        font-size: 25px;
    }
}

