.body4{
  background-image: url("image/fon4-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body1{
  background-image: url("image/fon1-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body2{
  background-image: url("image/fon2-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body3{
  background-image: url("image/fon3-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body5{
  background-image: url("image/fon5-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body6{
  background-image: url("image/fon6-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body7{
  background-image: url("image/fon7-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body8{
  background-image: url("image/fon8-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.body9{
  background-image: url("image/fon9-min.jpg");
  color: blanchedalmond;
  background-size: cover;
  background-attachment: fixed;
}
.button_menu_up_stark{
  float:left;
  height: 30px;
  width: 90px;
  margin: 2px;
}
.form_menu_up_stark{
    margin: 2px;
  }
.divMenuUpStarki{
    height: 35px;
    width: 100%; 
}
.sokol1000{
  height: 400px;
  width: 400px; 
}
.soloDiv{
  position: static;
  right: 50px;
}
.login_stark
{
  float:right;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}
.form_login_stark
{
  float:right;
}
.button_login_stark
{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
}
input::placeholder {
  color: rgb(226, 216, 216);
  font-size: 1.2em;
  font-style: italic;
}
.text_login_stark
{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  color: rgb(226, 240, 240);
}
.privetDrug{
  color: aquamarine;
}
.login{
  height:40px;
  margin: 5px;
}
.form_login{
  margin: 5px;
}
.button_login_status{
  margin: 5px;
}
.text_login_status{
  margin: 5px;
  background: #eaf3f3;
}
/******************************Стили для второго меню***********************************/
.menu_stark_glawnoe{
 margin: 100px;
}
/********************************Члены клана*********************************************/
.button_dolgnosti_starkow{
  background-image: url("image/zwezda.jpg");
  color:#eaf3f3;
  background-size: cover;
}
.zagolowok_dolgnosti{
  text-align: center;
}
.imgProfil{
  height: 150px;
  width: 150px;
  float: left;
  background-color: beige;
}
.urlFoto{
  float:left;
  margin: 60px;
}
.submit_redakt_profil{
  float: right;
  width: 150px;
}
.statusProfil
{
  width: 150px;
  font-size: 0.8vw;
}
.statusProf{
  float: left;
  
}
.statusProfPunkt{
  float: left;
  font-size: 0.8vw;
}
.Hrredakt_profil{
  size: 2;
}
.bootstrap_1_redakt_profil{
  width: 25%;
}
.bootstrap_2_redakt_profil{
  width: 50%;
}
.bootstrap_3_redakt_profil{
  width: 16%;
}
.bootstrap_4_redakt_profil{
  width: 8%;
}
.classStrarkiMenuDolgnostiPrefix{
  color:aquamarine;
}
.strarki_menu_dolgnostinetMenu5{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
}
.button_strarki_menu_dolgnosti_prefix{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.strarki_menu_dolgnosti{
  margin-bottom: 100px;
}
.text_strarki_menu_dolgnosti_text2{
  width: 100px;
  height: 28px;
  font-size: 1vw;
}
.button_strarki_menu_dolgnosti_rashirit{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 200px;
  font-size: 1vw;
  color:azure;
}
.button_strarki_menu_dolgnosti_login{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 100px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.button_strarki_menu_dolgnosti_down{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 50px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.button_strarki_menu_dolgnosti_up1{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 35px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.button_strarki_menu_dolgnosti_up10{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 45px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.button_strarki_menu_dolgnosti_up20{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 45px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.button_strarki_menu_dolgnosti_save{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 145px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.starkiPravaH2{
  font: italic;
}
.starkiPravaDiv{
  width: 80%;
  border: 4px double black;
}
.button_prawa_dolgnost_sawe{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 145px;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.button_statia{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.textarea_prawa_dolgnost_textarea{
  width: 400px;
  height: 128px;
}
.menu_opisania_prawa_dolgnost{
  margin-bottom: 100px;
}
.starki_ustaw{
  background:rgb(65, 46, 117);
}
.p_starki_ustaw_p{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1vw;
}
.linkDiskord{
  float:right;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
}
.textarea_news1_redaktor_textarea{
  width: 600px;
  height: 450px;
}
.my_na_youtub_redaktorstatia4{
  width: 600px;
  height: 450px;
}
.my_na_youtub_redaktormy_na_youtub_redaktor11{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.nash_proekt_redaktorstatia4{
  width: 600px;
  height: 450px;
}
.nash_proekt_redaktornash_proekt_redaktor11{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.nashi_bazy_redaktorstatia4{
  width: 600px;
  height: 450px;
}
.nashi_bazy_redaktornashi_bazy_redaktor11{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.info_redaktorstatia4{
  width: 600px;
  height: 450px;
}
.info_free_redaktorstatia4{
  width: 600px;
  height: 450px;
}
.info_redaktorinfo_redaktor11{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.info_free_redaktorinfo_free_redaktor11{
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.myZone{
  margin-top: 150px;
}
.myZoneMenu{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
  
}
.my_zone_baza_div textarea{
  width: 600px;
  height: 450px;
}

.myZoneSave{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  font-size: 1vw;
  color:rgb(100, 36, 6);
  font-weight:900;
  height: 28px;
}
.footerStark{
  width: 100%;
  height: 35px;
  color: rgb(33, 160, 132);
  background: rgb(12, 2, 48);
}
.futterDiv{
  background: rgb(12, 2, 48);
  color: rgb(33, 160, 132);
  margin-top: 250px;
  font-size: 1vw;
  line-height: 50%;
  height: 110px;
  width: 100%;
  float: left;
}
.futterP{
  margin-top: 10px;
  color: rgb(33, 160, 132);
  font-size: 1vw;
  line-height: 10%;
  height: 75px;
  float: left;
}
.nacaloVerstki{
  font-size: 0.7vw;
}
.button_class_rasy_stark_gelion{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(231, 81, 21);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_zect{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(231, 209, 7);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_tormal{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(6, 56, 112);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_velid{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(55, 199, 218);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_glarg{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(71, 189, 120);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_astoks{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(182, 41, 22);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_mrun{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-image: url("image/zwezda.jpg");
  width: 125px;
  float: left;
  color:rgb(71, 8, 122);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_gelion_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(250, 177, 19);
  width: 325px;
  float: left;
  color:rgb(3, 1, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_gelion_text{
  color: rgb(250, 177, 19);
  height: 28px;
}
.button_class_rasy_stark_zekt_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(251, 255, 41);
  width: 325px;
  float: left;
  color:rgb(3, 1, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_zekt_text{
  color: rgb(199, 202, 20);
  height: 28px;
}
.button_class_rasy_stark_tormal_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(15, 36, 223);
  width: 325px;
  float: left;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_tormal_text{
  color: rgb(15, 36, 223);
  height: 28px;
}
.button_class_rasy_stark_velid_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(72, 194, 224);
  width: 325px;
  float: left;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_velid_text{
  color: rgb(72, 194, 224);
  height: 28px;
}
.button_class_rasy_stark_glarg_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(140, 216, 104);
  width: 325px;
  float: left;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_glarg_text{
  color: rgb(140, 216, 104);
  height: 28px;
}
.button_class_rasy_stark_astoks_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(226, 53, 0);
  width: 325px;
  float: left;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_astoks_text{
  color: rgb(226, 53, 0);
  height: 28px;
}
.button_class_rasy_stark_mroon_modul{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(101, 31, 167);
  width: 325px;
  float: left;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.text_moduly_astoks_text{
  color: rgba(122, 120, 124, 0);
  height: 28px;
}
.polosaFon0{
  background-color: rgb(136, 133, 138);
}
.polosaFon1{
  background-color: rgb(175, 175, 175);
}


.button_class_rasy_stark_gelion_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(250, 177, 19);
  width: 95px;
  color:rgb(3, 1, 0);
  font-weight:900;
  height: 28px;
}

.button_class_rasy_stark_zekt_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(251, 255, 41);
  width: 95px;
  color:rgb(3, 1, 0);
  font-weight:900;
  height: 28px;
}

.button_class_rasy_stark_tormal_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(15, 36, 223);
  width: 95px;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}

.button_class_rasy_stark_velid_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(72, 194, 224);
  width: 95px;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}

.button_class_rasy_stark_glarg_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(140, 216, 104);
  width: 95px;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}

.button_class_rasy_stark_astoks_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(226, 53, 0);
  width: 95px;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}

.button_class_rasy_stark_mroon_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(101, 31, 167);
  width: 95px;
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.button_class_rasy_stark_vse_modul_pokaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  background-color: rgb(36, 16, 54);
  width: 95px;
  color:rgb(185, 160, 160);
  font-weight:900;
  height: 28px;
}
.fon{
  background: rgb(107, 105, 105);
}
.spisok_modul{
  margin-top: 50px;
}
.mesage{
  color:rgb(0, 255, 106, 0.986);
  line-height: 1;
}
.mesageFon{
  background: rgba(53, 67, 70, 0.301);
  line-height: 120%;
}
.poiskBaz{
  margin-top: 150px;
  border: 1px;
  margin: 1px;
  float: left;
  background-image: url("image/zwezda.jpg");
  color:rgb(0, 0, 0);
  font-weight:900;
  height: 28px;
}
.pokazat_bazy_federacii{
  float: left;
}
.potverditBazu_Gost{
  border: 1px;
  margin: 1px;
  background: rgb(14, 107, 34);
  color:rgb(0, 0, 0);
  height: 18px;
  font-size: 10px;
  line-height: 100%;
}