body {
    background-image: url("../images/json2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.fon-youtube, .fon-youtube-g{
    position: absolute;
    background-color: rgb(246, 124, 124);
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.fon-youtube{
    top:150px;
    left:50px;
}
