@mixin addressCvCreate{
    .address-cv-create p{
        margin-top: 10px;
        font-size: 16px;
        line-height: 15px;
        color:#fefbfb;
        @if $patternMin==1 {
            color:#080000;
            padding-left: 300px;
            width: 700px;
        }
        // background-color: #381414;
    }
    .address-cv-create p:nth-child(odd) {
        font-weight: 900;
        line-height: 5px;
    }
    div[class="col-5 address-cv-create"] {
        height: 150px;
    }
}
