body {
    background-image: url("../images/image.jpeg");
    background-size: 100%;
    background-attachment: fixed;
}
/*Стили верхнего меню*/
.imagesMapaMenuUp{
    margin-top: 10px;
    margin-left: 10px;
    .imagesMapaMenuUp-div{
        margin-top: 10px;
        margin-left: 10px;
        .imagesMapaMenuUpimagesMapaMenuUp1{
            border: 1px solid;
        }
    }
}
/**************************************88*/
