body {
    background-image: url("../images/image.jpeg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*Стили верхнего меню*/
.imagesMapaMenuUp{
    margin-top: 10px;
    margin-left: 10px;
    .imagesMapaMenuUp-div{
        margin-top: 10px;
        margin-left: 10px;
        height: 50px;
        .imagesMapaMenuUpimagesMapaMenuUp1, .imagesMapaMenuUpimagesMapaMenuUp4, 
        .imagesMapaMenuUpimagesMapaMenuUp13, .imagesMapaMenuUpimagesMapaMenuUp16,
        .imagesMapaMenuUpimagesMapaMenuUp19{
            border: 1px solid;
            margin-left: 5px;
            float: left;
        }
        .imagesMapaMenuUpimageWidth7, .imagesMapaMenuUpimageHeight10{
            border: 1px solid;
            margin-left: 50px;
            height: 38px;
            width: 75px;
            text-align: center;
            float: left;
        }
        .imagesMapaMenuUpimageHeight10{
            margin-left: 5px;
        }
        .imagesMapaMenuUpimagesMapaMenuUp19{
            margin-left: 50px;
        }
    }
}
/***************************************/
/*Меню загрузки картинки*/
.imagesMapaLoadFiles{
    margin-top: 50px;
    margin-left: 300px;
    width: 100%;
    color:rgb(244, 252, 252);
    .imagesMapaLoadFiles-label{
        border: 1px solid;
        margin-right: 30px;
        color:rgb(244, 252, 252);
    }
    .imagesMapaLoadFiles-button{
        border: 1px solid;
        color:rgb(244, 252, 252);
    }

}
/************************/
/*Стилизация кнопки-картинки для стилизаци*/
.imagesMapaImageButton-div{
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    background: rgb(129, 106, 106);
    form {
        overflow:hidden;
        .imagesMapaImageButton-button{
            padding-top: 1px;
            width: 100%;
            overflow: auto;
        }
        .imagesMapaImageButton-div-klac{
            padding-right: 1px;
            width: 100%;
            overflow: auto;
            height: 100%;
            word-wrap: break-word;
        }
    }

}
