html{
    font-size: 18px;
}
.FieldSize {
    p {
        font-size: 1rem;
        font-weight: 700;
    }

    input[name="loadWidth"]{    
       margin-top: 10px;
    }
    input[name="loadHeyght"]{    
        margin-top: 10px;
    }
    input[name="buttonFieldSize"]{    
        margin-top: 10px;
    }
    label{
        margin-top: 20px;
    }

}
.BackGroundColor{
    input[type="radio"] {
        margin-right: 20px;
    }
    input[type="color"] {
        float:left;
        margin-left: 20px;
    }
    p, .buttonBorderPH, #buttonFieldSize {
        float:left;
    }
    .buttonBorder, #buttonFieldSize, .buttonOk{
        background: #0dcaf0;
        margin-left: 5px;
        width: 140px;
        height: 42px;
        border-radius: 0.25rem;
        padding-top: 6px;
        text-align: center;
    }
    #div_color_1, #div-color-2{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid black;
        float:left;
        margin-left: 10px;
    }
    input[name="resetColor"]{
         height: 25px;
         margin-left: 10px;
         font-size: 12px;
    }
    .BackGroundColorsaveColor53{
        float:left;
        margin-left: 6px;
    }
}
#workingField{
    float: left;
    margin-left: 5px;
    margin-bottom: 50px;
}
