html{
    font-size: 18px;
}
.FieldSize {
    p {
        font-size: 1rem;
        font-weight: 700;
    }

    input[name="loadWidth"]{    
       margin-top: 10px;
    }
    input[name="loadHeyght"]{    
        margin-top: 10px;
    }
    input[name="buttonFieldSize"]{    
        margin-top: 10px;
    }

}
.BackGroundColor{
    label[for="checkName1"] {
        margin-left: 20px;
    }
    input[type="color"] {
        float:left;
        margin-left: 20px;
    }
    p, .buttonBorderPH, #buttonFieldSize {
        float:left;
        
    }
    .buttonBorder, #buttonFieldSize{
        background: #0dcaf0;
        margin-left: 5px;
        width: 122px;
        height: 42px;
        border-radius: 0.25rem;
        padding-top: 6px;
    }
}
