.create-cv {
  float: left;
  margin: 30mm 45mm 30mm 45mm;
  margin-top: 10px;
  height: 29.7cm;
  width: 21cm;
  background-color: #098b9f;
}

.create-cv .name p {
  margin-top: 20px;
  font-size: 45px;
  font-weight: 900;
  line-height: 30px;
  color: #fefbfb;
}

.create-cv .address-cv-create p {
  margin-top: 10px;
  font-size: 16px;
  /*font-weight: 900;*/
  line-height: 15px;
  color: #fefbfb;
}

.create-cv .address-cv-create p:nth-child(odd) {
  font-weight: 900;
  line-height: 10px;
}

.btn-load-cv {
  float: left;
  margin-top: 100px;
}

.form-languages, .form-certificates {
  float: left;
  margin-top: 150px;
  width: 400px;
}

.form-languages input[name="form_plus"], .form-languages input[name="form_minus"], .form-certificates input[name="form_plus"], .form-certificates input[name="form_minus"] {
  margin-top: 50px;
  font-size: 25px;
  margin-left: 5px;
  float: right;
  height: 40px;
  width: 40px;
}

.form-languages ul, .form-certificates ul {
  margin-top: 5px;
}

.form-languages li, .form-certificates li {
  text-align: left;
}

.form-languages input[name*="form_text"], .form-certificates input[name*="form_text"] {
  width: 100%;
  height: 38px;
  border-radius: 5px;
}

.form-languages p, .form-certificates p {
  font-size: 25px;
  color: #c2d5e2;
}

.form-skills, .form-experience, .form-education {
  float: left;
  margin-top: 150px;
  width: 400px;
}

.form-skills p, .form-experience p, .form-education p {
  font-size: 25px;
  color: black;
}

.form-skills textarea, .form-experience textarea, .form-education textarea {
  height: 150px;
  width: 500px;
}

.form-skills input, .form-experience input, .form-education input {
  width: 150px;
  text-align: center;
  height: 40px;
  font-size: 20px;
}

.form-kontakt {
  float: left;
  margin-top: 150px;
  width: 400px;
}

.form-kontakt label {
  float: right;
  margin-top: 10px;
  font-size: 30px;
}

.form-kontakt input {
  width: 250px;
  height: 35px;
  margin-top: 10px;
  margin-left: 5px;
}

.form-kontakt input[class="btn btn-info"] {
  width: 150px;
  text-align: center;
  height: 40px;
  font-size: 20px;
}

.field__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field__file-fake {
  height: 60px;
  width: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.field__file-button {
  width: 130px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

body {
  background: #466368;
  background: -webkit-gradient(linear, left top, left bottom, from(#648880), to(#293f50));
  background: linear-gradient(#648880, #293f50);
  border-radius: 6px;
  height: 1500px;
  width: 100%;
}

.button-language, .button-language input {
  float: right;
  background: #466368;
  background: -webkit-gradient(linear, left top, left bottom, from(#648880), to(#293f50));
  background: linear-gradient(#648880, #293f50);
  border-radius: 6px;
  color: #c2d5e2;
}

.pole-boot-col-foto-CV {
  float: right;
  margin-left: 100px;
  font-size: 25px;
}

.mesage-load-foto {
  color: black;
  font-size: 25px;
}

.load-foto-form {
  width: 80%;
  margin-top: 150px;
  float: left;
  color: black;
}

.load-foto-form .class-btn {
  background: #466368;
}

.load-foto-form .pole-text-name-CV {
  color: black;
  height: 38px;
}

.load-foto-form .pole-boot-col-name-CV {
  float: left;
}

.name-form {
  float: left;
  margin-top: 150px;
}

.name-form form div {
  width: 200px;
  float: left;
}

.name-form form div input {
  margin-left: 20px;
  color: black;
  height: 38px;
}

.name-form form div input[type="submit"] {
  background: #466368;
}

.name-form p {
  float: left;
  margin-left: 100px;
  font-size: 25px;
}

.menu-nav {
  float: left;
}

.pattern-row-1 {
  float: left;
  margin-top: 150px;
  height: auto;
}

.pattern-row-1 .image-pattern {
  height: 300px;
  width: 200px;
  padding: 0px;
}

.pattern-row-1 .image-pattern-button {
  height: 300px;
  width: 200px;
  padding: 0px;
}

.pattern-row-1 .image-pattern-button:hover {
  height: 300px;
  width: 200px;
  padding: 0px;
  position: relative;
  top: -20px;
}

.pattern-row-1 .image-pattern-button-2 {
  height: 300px;
  width: 200px;
  padding: 0px;
  position: relative;
  top: -20px;
}

.pattern-row-1 .image-pattern:hover {
  height: 300px;
  width: 200px;
  padding: 0px;
}

.pattern-row-1 .mesage-select-pattern {
  color: #77b5df;
  font-size: 25px;
}
/*# sourceMappingURL=cv.css.map */