
    .form-skills, 
    .form-experience, 
    .form-education{
        float: left;
        margin-top: 150px;
        width: 400px;
        p {
            font-size: 25px;
            color: black;
        }
        textarea {
            height: 150px;
            width: 500px;
        }
        input {
            width: 150px;
            text-align:center;
            height: 40px;
            font-size: 20px;
        }
    }

